<div class ="tops">
</div>

<div class="introduction">
  <p>
    <%= image_tag ("computer_net_stalker_man.png") %>
  </p>
  <h1>
    ブログサンプル
  </h1>
  <% if logged_in? %>
  <%= link_to '新しい記事を書く', new_blog_path , class: 'btn btn-default' %>
  <% end %>
</div>
  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-xs-12 col-md-6 blog-panel">
        <h2><%= blog.title %></h2>
        <p><%= blog.content %></p>
        <% unless blog.image.url.nil? %>
        <p> 画像があります </p>
        <% end %>
        <p><%= blog.created_at %></p>
        <%= link_to 'Show', blog, class: 'btn btn-default' %>
        <div class="blog-links">
          <% if logged_in? %>
            <% if current_user.id == blog.user_id  %>
              <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-info' %> |
              <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
