<h1><%= @user.name %>のお気に入り一覧</h1>
<% @favorites_blogs.each do |favorite| %>
  <% unless favorite.image.url.nil? %>
    <p><%= image_tag favorite.image.url %></p>
  <% end %>
  <p><%= favorite.title %></p>
  <p><%= favorite.content %></p>
  <p><%= favorite.user.name + "さんの投稿" %></p>
  <p><%= favorite.created_at %></p>
<% end %>
